backports.shutil-get-terminal-size==1.0.0
boto==2.48.0
boto3==1.4.4
botocore==1.5.86
certifi==2017.4.17
chardet==3.0.4
cookies==2.2.1
coverage==4.4.1
decorator==4.1.1
dicttoxml==1.7.4
docutils==0.13.1
enum34==1.1.6
funcsigs==1.0.2
futures==3.1.1
idna==2.5
ipython==5.4.1
ipython-genutils==0.2.0
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
mock==2.0.0
moto==1.0.1
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.2
pyaml==16.12.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.20.0
s3transfer==0.1.10
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
urllib3==1.21.1
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.12.2
xmltodict==0.11.0
